#convert-page {

    width: 40vw;
    /* height: calc(100vh - 325px); */
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;

    border: 2px solid var(--third-color);
    border-radius: 10px;

    color: var(--third-color);
}

.text-container { 

    display: inline-block;
    transform: translateY(-20%);

    background-color: var(--secondary-light-color);

    height: 20%; 

    margin-bottom: 15px;
}

.text-container h2 {

    margin-left: 15px;
    margin-right: 15px;

    font-family: 'Nunito';
    font-size: 22px;
}


.options-container { 
    height: 70%;

    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.convert-op-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 15px;
}

.btn-pivotate {

    width: 20px;
    height: 20px;

    margin-left: 10px;

    background-color: var(--secondary-light-color);
    color: var(--primary-color);
    cursor: pointer;
    border:none;
}

.btn-pivotate:hover {
    color: var(--secondary-color);
    transform: rotate(180deg);
    transition: linear 250ms;
}

.btn-convert{ 

    width: 150px; 
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    margin-top: 20px;

    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--primary-light-color);

    font-family: 'Nunito';
    font-size: 18px;

    cursor: pointer;
}

.cv-disabled {
    cursor: not-allowed;

    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}

.btn-convert:hover { 
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);

    transition: linear 250ms;
}

.btn-icon {
    margin-right: 10px;
}
